@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Skranji&display=swap');


div {
    max-width: 1600px;
    
}
#content {
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #f8acff;
    text-decoration: none;
    padding: 35px;

}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
    color: white;

}
.button-box {
    text-align: center;
}
main section {
    text-align: center;

}
#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #fcfbfb;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0; 
}
header {
    background-color:rgba(20,30,13, .7);
    display: grid;
    grid-template-columns: 150px auto; 
}
nav a:hover {
    background-color: black;
    color: #fcfbfb;
}
.book, .join {
    background-color: #4e53c0;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}
.book:hover {
    background-color: #4e53c0;
    color: #474baf;
}
.join:hover {
    background-color: black;
    color: #fcfbfb;
}
#background {
    background-color: #4e53c0;
}
.msg {
    background-color: #f8acff;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #f8acff;
    color: #4e1353;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color: #f8acff;
    font-family: 'Skranji', 'sans-serif';
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: black;
}
.msg h2 {
    color: #4e53c0;
    font-family: 'Roboto';}
.msg p {
    color: #4e53c0;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #fcfbfb;
    text-decoration: none;

}
footer a:hover {
    color: #f8acff;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}
footer p a:hover {
    text-decoration: underline;
} 
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.social img {
    padding-top: 15px;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


/* Page2 CSS style */




.rivers-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.riv-card {
    margin: 0 auto;
    grid-column: 2/7;
    grid-row: 1/5;
}

.rapid-img {
    width: 160%;
    display: grid;
    height: 100%;
    padding: 35px;
}
.msg1 {
    background-color: white;
    width: 130%;
    padding: 35px;
    height: 90%;
}
.msg2 {
    background-color: white;
    width: 140%;
    height: 100%;
    display: grid;
    grid-column: 7/10;
    grid-row: 1/2;  
}

.msg3 {
    background-color: #d2cbd3;
    width: 150%;
    display: grid;
    height: 100%;
    grid-column: 1/7;
    grid-row: 5/8; 
}

    





@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}


    




